[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-seed = "*"
django-countries = "*"
requests = "*"
django-smtp-ssl = "*"
psycopg2-binary = "*"
awsebcli = "*"
django-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
