[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
flake8 = "*"
black = "*"
django-countries = "*"
pillow = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
python-gettext = "*"
django-smtp-ssl = "*"
awsebcli = "*"
psycopg2 = "*"


[dev-packages]
black = "*"
awsebcli = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
